In [1]:
import psycopg2
import pandas as pd
import os
dir = '/Users/ankushsingal/Desktop/Data_Engineering/Data Modeling/project-template/data'
import json
from sql_queries import *
import glob

ModuleNotFoundError: No module named 'sql_queries'

In [5]:
!pip install sql_queries

Requirement already satisfied: sql_queries in /usr/local/anaconda3/envs/geospatial/lib/python3.7/site-packages (0.1.2)

In [16]:
def get_files(filepath):
    """Returns list of all json filepaths within filepath parameter"""
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [17]:
filepath = '/Users/ankushsingal/Desktop/Data_Engineering/Data Modeling/project-template/data/song_data'
song_files = get_files(filepath)

In [22]:
#get first song row
song1 = song_files[0]

In [23]:
df = pd.read_json(song1,lines=True)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982